<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/SpotBurn.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<link rel="shortcut icon" href="favicon.ico" ></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>SpotBurn - Helps you share hot spots with your fishing friends</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="styles/structure.css" rel="stylesheet" type="text/css" />
<link href="styles/fonts.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
<div id="content">
<div id="menutop">
<div id="logo"><a href="index.html"><img src="images/logo.png" width="285" height="164" alt="SpotBurn" /></a></div>
<div id="menu"><a href="index.html" class="header-home">Home</a>|<a href="signup.html" class="header-login">Login</a>|<a href="about_us.html" class="header-about">About</a>|<a href="contact_us.html" class="header-contactus">Contact Us</a>
</div><br clear="right" />
<div id="tag"><span class="tagwhite"><span class="spot">SpotBurn</span> helps you share hot spots<br />with your fishing friends.</span></div>
</div>
<!-- InstanceBeginEditable name="content" -->
<div id="bodyc">
<div id="aboutuswrapper">

</div>
</div>
<!-- InstanceEndEditable -->
<div id="footer">
<div id="addtool">
<!-- AddThis Button BEGIN -->
<script type="text/javascript">var addthis_brand="SpotBurn";</script>
<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
<!-- AddThis Button END -->
</div>
© 2009 Spot Burn, All Rights Reserved<br />Design by <a href="http://www.disgramm.com" class="disgramm">DisGraMM</a></div>
</div>
</div>
</body>
<!-- InstanceEnd --></html>
