 {% extends "base.html" %} {% block body_block %}
<!--topmainContainer end -->
<!--bodymainContainer start -->
<div id="bodyMainContainer">
	<div class="bodyContainer">
		<div class="seeMoreTop"></div>
		<div class="mid">
			<h2 class="aboutHead">How to use Spotburn</h2>
			<h3 class="aboutSubHead">Quick Overview</h3>
			<p class="aboutOverview">Spotburn lets you post your fishing
				reports and helps you keep track of what you caught when, and acts
				as an on line log off your fishing. You can be as specific or as
				general as you like. You can share your reports with with everyone,
				or just keep the reports amoungst your friends. It allows you to
				form groups to only share that information with certain friends. If
				you chose to use the maps, you can point to an exact location or to
				a county. Its up to you. Spotburn is about letting fisherman know
				what's going on.</p>
			<p>
				The best part is that using Spotburn is easy. If you don't have an
				account hit the Sign Up on the front page. If you entered your email
				address or cell phone number, now all you have to do is send and
				email or pictures from your cell phone to <a
					href=mailto:fish@coastalflyrodders.com>fish@coastalflyrodders.com</a>
				How you use Spotburn is up to you. Enjoy and good luck fishing.
			</p>
			<!--left start -->
			<div class="left_half">
				<h3 class="aboutSubHead">1. Create An Account</h3>
				<p class="abouttxt1">On the top menu, Choose Login. If you have
					an account you can log in with your user name, e-mail address, or
					your phone number. To join fill in as much information as you want.
					At a minimum you must provide a user name and password. If you want
					to follow your friends by e-mail or phone you must provide them. We
					will keep them confidential. For Location, you can put as much or
					as little detail as you like. You can even just put a zip code.
					Spotburn uses Google Maps to determine your location, so what ever
					appears for Google Maps will appear as your location.</p>
				<h3 class="aboutSubHead">2. Spotburn Main Page</h3>
				<p class="abouttxt1">Every posted report that is not private or
					for a group is posted on the Spotburn Home Page. Each post contains
					the user name who posted it, the report, comments, and pictures.
					Each picture can be enlarged by clicking on it. Any one can comment
					or see more details by clicking on the "see more".</p>
				<p class="abouttxt1">The see more will show the pictures. Each
					picture may have an additional comment. The date and any GPS
					information in the pictures internal EXIF will be displayed. A map
					icon will be displayed if a map is available. Some camera's such as
					the iPhone, and Nikon CoolPix have built in GPS data. If a user
					provided a map that will be displayed. All comments are displayed
					and users can add comments by hitting the "Leave a Comment"
					Comments can contain pictures and maps.</p>
			</div>
			<!--left end -->
			<!--right start -->
			<div class="right_half">
				<h3 class="aboutSubHead">3. Your Page</h3>
				<p class="abouttxt2">You can see your posts, edit your profile,
					add reports, and reply to notices on your page by hitting the "My
					Page" tab at the top of the page. Once you hit the "My Page tab you
					will be directed to your page. If you have notices such as friend
					requests they will show up on the inside menu next to the Add
					Report|Create Group menu items. The left side of the page displays
					all your posts, the right displays your profile. You can change
					your profile and delete posts by hitting the "Edit Profile" on your
					page. If you want to email reports to fish@spotburn.com. You must
					provide your cell phone if you would like to use your cell phone to
					send pictures to fish@spotburn.com.</p>
				</p>
				<h3 class="aboutSubHead">4. Finding and Adding Friends</h3>
				<p class="abouttxt2"></p>
				<h3 class="aboutSubHead">5. Creating Groups</h3>
				<p class="abouttxt2"></p>
			</div>
			<!--right end -->
			<div class="spacer"></div>
		</div>
		<div class="seeMoreBot"></div>
	</div>
</div>
<!--bodymainContainer end -->
{% endblock %}
