{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block body_block %}
    <div id="bodyc">
      <p class="termstitle">Privacy Policy</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel aliquam ipsum.
      Donec mauris felis, rutrum at hendrerit eu, fringilla sed dui. Integer dolor nisl, placerat
      nec luctus at, gravida quis tortor. Proin purus nisi, pharetra non placerat eget, pulvinar eu
      massa. Ut at velit ipsum, et sollicitudin mi. Pellentesque semper scelerisque arcu quis
      sodales. Proin quis magna eu orci cursus tristique eget eu turpis. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas quis
      faucibus libero. Donec aliquam mollis mi vestibulum venenatis. Morbi tincidunt erat at dolor
      ultricies lobortis. Nam dui nisi, aliquam id consequat eget, posuere sed sapien. Nunc
      adipiscing, ligula et ornare semper, diam dolor suscipit sapien, eget consequat urna purus id
      purus. Ut lobortis velit quis tellus ullamcorper in tristique enim facilisis. Donec pretium
      consequat erat in lobortis.</p>

      <p>Aliquam erat volutpat. Ut blandit urna ac lacus commodo volutpat et in diam. Ut risus
      nibh, interdum ut ultricies ac, aliquet vitae erat. Praesent eleifend odio vitae lorem
      vehicula dictum. Vestibulum vulputate arcu in nunc ullamcorper blandit. Sed interdum
      hendrerit congue. Vivamus vitae quam eget mi elementum congue. Aliquam vestibulum laoreet
      gravida. Nulla consectetur fermentum bibendum. Fusce auctor metus ultricies diam molestie
      dapibus. Maecenas at nibh nec sapien pulvinar imperdiet. Praesent at molestie neque. Duis
      consectetur varius sem. Duis orci massa, malesuada eget sagittis in, sagittis ut enim.</p>

      <ul class="list">
        <li><a href="#1" class="links">What does this Privacy Policy cover?</a></li>

        <li><a href="#2" class=" links">Why does SpotBurn collect personally identifiable
        information about me?</a></li>

        <li><a href="#3" class="links">What are cookies, and how are they and other technologies
        used to collect information?</a></li>

        <li><a href="#" class="links">Do you collect anonymous aggregated data, and what do you do
        with it?</a></li>

        <li><a href="#" class="links">Do I have a choice in how SpotBurn uses my personal
        information?</a></li>

        <li><a href="#" class="links">How does SpotBurn use my personally identifiable
        information?</a></li>

        <li><a href="#" class="links">Is the personal information collected about me
        secure?</a></li>

        <li><a href="#" class="links">Are there other parties collecting information about me that
        I should be aware of while using the SpotBurn Services?</a></li>

        <li><a href="#" class="links">What happens when Hulu changes its Privacy Policy?</a></li>

        <li><a href="#" class="links">Who can I contact if I have concerns about this Privacy
        Policy?</a></li>
      </ul>

      <p><a name="1" id="1"></a><span class="headers">What does this privacy cover?</span><br />
      Sed elit quam, convallis a elementum vitae, dapibus id urna. In feugiat sagittis enim eget
      posuere. Mauris sed sapien tortor. Curabitur in enim turpis. Aenean vitae eros eu orci congue
      accumsan. Curabitur tempus metus in mi accumsan ornare. Ut tristique, augue sed mattis
      pulvinar, tellus urna aliquam mi, ac venenatis libero mi nec enim. Mauris id mauris eu risus
      tempus suscipit. Sed nec tortor sed magna aliquet volutpat vel quis justo. Aliquam erat
      volutpat. Pellentesque sed purus ligula. Donec nec felis nibh, non mattis leo. Cras ut lorem
      in mauris venenatis convallis vel eu felis. Mauris quis purus a purus pretium fermentum.
      Maecenas viverra nibh et nisl dapibus blandit. Mauris scelerisque ullamcorper ultricies.
      Vivamus pellentesque est eu ante mattis ultrices.</p>

      <p><a name="2" id="2"></a><span class="headers">Why does SpotBurn collect personally
      identifiable information about me?</span><br />
      In sollicitudin metus adipiscing dui venenatis nec aliquam lectus lobortis. Praesent et
      placerat neque. Vivamus pulvinar purus nec orci mollis ullamcorper. Phasellus est elit,
      aliquet et tempus at, congue quis arcu. Praesent ornare rutrum suscipit. Duis dictum, metus
      ac imperdiet blandit, nulla metus porttitor diam, at scelerisque ipsum velit vel odio. Proin
      purus nisi, malesuada ac ultricies ut, adipiscing in augue. Aenean vulputate feugiat magna
      sit amet rutrum. Donec porta ornare lectus quis rutrum. Donec diam sapien, ornare et pretium
      non, interdum id arcu. Ut ante nibh, fermentum at lobortis non, porta in nibh. Etiam ac ante
      lectus. Phasellus sed leo massa, et vulputate orci.</p>

      <p><a name="3" id="3"></a><span class="headers">What are cookies, and how are they and other
      technologies used to collect information?</span><br />
      Integer non risus sed libero placerat aliquet. Nunc suscipit, odio vel aliquet dictum, sapien
      nisl mattis libero, eu sodales nunc nibh nec arcu. Quisque nec massa erat. Mauris pharetra
      urna sed purus placerat consequat. In nisl mauris, varius eget euismod et, aliquet et eros.
      Suspendisse eu elementum urna. In scelerisque, quam eget convallis tempor, enim risus gravida
      massa, eu consectetur nibh nisi vel elit. Phasellus quam sapien, mollis non mattis eget,
      pharetra id lectus. Pellentesque ac tortor in est eleifend venenatis. Pellentesque eget
      libero velit. Duis condimentum tortor quis elit porttitor at feugiat erat interdum. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris eget
      massa eget urna blandit volutpat.</p>

      <p>Sed elit quam, convallis a elementum vitae, dapibus id urna. In feugiat sagittis enim eget
      posuere. Mauris sed sapien tortor. Curabitur in enim turpis. Aenean vitae eros eu orci congue
      accumsan. Curabitur tempus metus in mi accumsan ornare. Ut tristique, augue sed mattis
      pulvinar, tellus urna aliquam mi, ac venenatis libero mi nec enim. Mauris id mauris eu risus
      tempus suscipit. Sed nec tortor sed magna aliquet volutpat vel quis justo. Aliquam erat
      volutpat. Pellentesque sed purus ligula. Donec nec felis nibh, non mattis leo. Cras ut lorem
      in mauris venenatis convallis vel eu felis. Mauris quis purus a purus pretium fermentum.
      Maecenas viverra nibh et nisl dapibus blandit. Mauris scelerisque ullamcorper ultricies.
      Vivamus pellentesque est eu ante mattis ultrices.</p>

      <p>In sollicitudin metus adipiscing dui venenatis nec aliquam lectus lobortis. Praesent et
      placerat neque. Vivamus pulvinar purus nec orci mollis ullamcorper. Phasellus est elit,
      aliquet et tempus at, congue quis arcu. Praesent ornare rutrum suscipit. Duis dictum, metus
      ac imperdiet blandit, nulla metus porttitor diam, at scelerisque ipsum velit vel odio. Proin
      purus nisi, malesuada ac ultricies ut, adipiscing in augue. Aenean vulputate feugiat magna
      sit amet rutrum. Donec porta ornare lectus quis rutrum. Donec diam sapien, ornare et pretium
      non, interdum id arcu. Ut ante nibh, fermentum at lobortis non, porta in nibh. Etiam ac ante
      lectus. Phasellus sed leo massa, et vulputate orci.</p>

      <p>Integer non risus sed libero placerat aliquet. Nunc suscipit, odio vel aliquet dictum,
      sapien nisl mattis libero, eu sodales nunc nibh nec arcu. Quisque nec massa erat. Mauris
      pharetra urna sed purus placerat consequat. In nisl mauris, varius eget euismod et, aliquet
      et eros. Suspendisse eu elementum urna. In scelerisque, quam eget convallis tempor, enim
      risus gravida massa, eu consectetur nibh nisi vel elit. Phasellus quam sapien, mollis non
      mattis eget, pharetra id lectus. Pellentesque ac tortor in est eleifend venenatis.
      Pellentesque eget libero velit. Duis condimentum tortor quis elit porttitor at feugiat erat
      interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Mauris eget massa eget urna blandit volutpat.</p>

      <p>Sed elit quam, convallis a elementum vitae, dapibus id urna. In feugiat sagittis enim eget
      posuere. Mauris sed sapien tortor. Curabitur in enim turpis. Aenean vitae eros eu orci congue
      accumsan. Curabitur tempus metus in mi accumsan ornare. Ut tristique, augue sed mattis
      pulvinar, tellus urna aliquam mi, ac venenatis libero mi nec enim. Mauris id mauris eu risus
      tempus suscipit. Sed nec tortor sed magna aliquet volutpat vel quis justo. Aliquam erat
      volutpat. Pellentesque sed purus ligula. Donec nec felis nibh, non mattis leo. Cras ut lorem
      in mauris venenatis convallis vel eu felis. Mauris quis purus a purus pretium fermentum.
      Maecenas viverra nibh et nisl dapibus blandit. Mauris scelerisque ullamcorper ultricies.
      Vivamus pellentesque est eu ante mattis ultrices.</p>

      <p>In sollicitudin metus adipiscing dui venenatis nec aliquam lectus lobortis. Praesent et
      placerat neque. Vivamus pulvinar purus nec orci mollis ullamcorper. Phasellus est elit,
      aliquet et tempus at, congue quis arcu. Praesent ornare rutrum suscipit. Duis dictum, metus
      ac imperdiet blandit, nulla metus porttitor diam, at scelerisque ipsum velit vel odio. Proin
      purus nisi, malesuada ac ultricies ut, adipiscing in augue. Aenean vulputate feugiat magna
      sit amet rutrum. Donec porta ornare lectus quis rutrum. Donec diam sapien, ornare et pretium
      non, interdum id arcu. Ut ante nibh, fermentum at lobortis non, porta in nibh. Etiam ac ante
      lectus. Phasellus sed leo massa, et vulputate orci.</p>

      <p>Integer non risus sed libero placerat aliquet. Nunc suscipit, odio vel aliquet dictum,
      sapien nisl mattis libero, eu sodales nunc nibh nec arcu. Quisque nec massa erat. Mauris
      pharetra urna sed purus placerat consequat. In nisl mauris, varius eget euismod et, aliquet
      et eros. Suspendisse eu elementum urna. In scelerisque, quam eget convallis tempor, enim
      risus gravida massa, eu consectetur nibh nisi vel elit. Phasellus quam sapien, mollis non
      mattis eget, pharetra id lectus. Pellentesque ac tortor in est eleifend venenatis.
      Pellentesque eget libero velit. Duis condimentum tortor quis elit porttitor at feugiat erat
      interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Mauris eget massa eget urna blandit volutpat.</p>
    </div><!-- InstanceEndEditable -->
{% endblock %}
