<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
  <title>Spotburn:Any Fish?</title>
  <style type="text/css">
  /*<![CDATA[*/

  body {
    font-family: sans-serif;
    font-size: medium;
    background-color: #99CCFF
}

  img {
    border: none;
  }
  #hello {
  font-weight: 200
}
  #help {
    font-size:10px;
    font-weight: lighter;
    font-style: italic
  }
  /*]]>*/
  </style>
</head>

<body>

    <a href="{{url}}">
        <img src="{{url}}/site_media/img/logo.png" width="200" height="115" alt="" />
    </a>
    <div id="hello">
        <p>{{name}},</p>
        <p>How is the fishing this week? Anything new to report?</p>
    </div>
    <div id="help">
        <p>Hit reply and we'll post your report and you can attach up to 4 photos</p>
    </div>
</body>

</html>
