<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:fb="http://www.facebook.com/2008/fbml">

<head>

<link href="/site_media/style.css" rel="stylesheet" type="text/css" />
<link href="/site_media/structure.css" rel="stylesheet" type="text/css" />
<link href="/site_media/fonts.css" rel="stylesheet" type="text/css" />

</head>

{% load i18n %}
{% load smartif %}
 
<!--mainContaainer start -->
	<div id="mainContainer">
	<!--topmainContainer start -->
		<div id="topMainContainer">
			<div class="top">
				<a href="http://spotburn.com/">
                    <img src="/site_media/logo.png" alt="spotburn" title="spotburn" width="284" height="164" class="logo" />
                </a>
				<p class="topTxt">Share the latest fishing reports for the top captains, guides and fisherman</p>
			</div>
		</div>
	<!--topmainContainer end -->
		<div id="bodyMainContainer">
			<div class="bodyContainer">
				<div class="bodyTop"></div>
				<div class="mid">

				</div>
				<div class="bodyBot"></div>
			</div>
		</div>
	<!--footer start -->
		<div id="footer">
			<p>&copy; 2010 Spot Burn, All Rights Reserved.</p>
		</div>
	<!--footer end -->
	</div>
<!--mainContaainer end -->

