<?xml version="1.0"?>
<html xmlns:fb="http://www.facebook.com/2008/fbml"> 
<link href="http://spotburn.com/site_media/facestyle.css" rel="stylesheet" type="text/css" />

<!--mainContaainer start -->
	<div id="mainContainer2">
	<!--topmainContainer start -->
		<div id="topMainContainer">
			<div class="top2">
			<div class="logoCont">
			  <a href="index.html"><img src="images/logo.png" alt="spotburn" title="spotburn" width="284" height="164" class="logo2" /></a>
			</div>
			  <div class="topRight2">
					
				<p class="topTxt2">
					Share the latest fishing reports for the top guides and fisherman
				</p>			
			  </div>
		  </div>
		</div>
	<!--topmainContainer end -->
	<!--bodymainContainer start -->
		<div id="bodyMainContainer2">
    <div class="bodyContainer2">
      <div class="seeMoreTop2"></div>
      <div class="mid2">
       <ul class="peopleList">
	   	<li><a href="#">Consectetur adipiscing elit nunc massa leo, adipiscing a laoreet sit amet venenatis at felis.</a><br /><span><a href="#">Pete D</a></span></li>
		<li><a href="#">Adipiscing a laoreet sit amet venenatis at felis. Donec tellus mitristique nonnec nisl.</a><br /><span><a href="#">Pete D</a></span></li>
		<li><a href="#">Sed interdum tellus eget nunc pellentesque tempor. Mauris molestie est ut ultrices placera lacus auctor magna non aliquet nibh enim in purus.</a><br /><span><a href="#">Pete D</a></span></li>
		<li><a href="#">Donec tellus mitristique nonnec nisl. Maecenas eu ipsum vitae magna tempor hendrerit.</a><br /><span><a href="#">Pete D</a></span></li>
		<li><a href="#">Maecenas eu ipsum vitae magna tempor hendrerit.</a><br /><span><a href="#">Pete D</a></span></li>
	   </ul>
        
		<div class="spacer"></div>
      </div>
      <div class="seeMoreBot2"></div>
    </div>
  </div>
	<!--bodymainContainer end -->
	<!--footer start -->
		<div id="footer">
			<p>&copy; 2010 Spot Burn, All Rights Reserved.</p>
		</div>
	<!--footer end -->
	</div>
<!--mainContaainer end -->
</html>
