{% extends 'base.html' %}
{% load smartif %}
{% load comments %}

{% block js %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key="ABQIAAAAw6ArS1eE_K0sprwtT178ZhSszzQBrvuXuJup0ZrfApALDIflmxRS66rHOHcb2Zrc61i3DyxE0gAbhA" type="text/javascript">
</script>
<script type="text/javascript" src="/site_media/gmap.js"></script>
{% endblock %}

{% block mess_list %}
    <div class="bodyContainer" id="bodyMainContainer">
      <div class="seeMoreTop"></div>

      <div class="mid" onunload="GUnload()">
        <!--left start -->
        <div class="seeMoreLeft" onload="showLatLong( {{message.latitude}}, {{message.longitude}} )" >
            <table>
            <tr>
              <td width="100"><b>Latitude:</b></td>
              <td id="lat"></td>
              <td width="100"><b>Longitude:</b></td>
              <td id="lng"></td>
            </tr>
          </table>
          <div id="map">
          </div>
<!--
          <p class="seeMoreTxt1">Latitude: {{message.latitude}} <span>Longitude:{{message.longitude}}</span></p>
-->
        </div>
        <!--left end -->

        <!--right start -->
        <div class="seeMoreRight">
          <div class="peteD">
            <h2>{{message.user}}</h2>

            <ul>
              <li class="folow"><a href="#">follow</a></li>

              <li class="edit"><a href="#">edit</a></li>
            </ul>
          </div>

          <p class="seeMoreTxt1">{{message.text}}</p>

          {% for photo in message.photos.all %}
          <div class="seeMorePicContainer">
            <img src={{photo.display.url}} alt="" />
            <p>Taken on: {{photo.date_taken|date:"M d, Y P" }}</p>
          </div>
          <p class="seeMoreTxt2">{{photo.caption}}</p>
          {% endfor %}

          <div class="commentContainer">
            {% get_comment_count for message as comment_count %}
            <h2>Comments<span>{{comment_count}} Comments</span></h2>
            {% get_comment_list for message as comment_list %}
            {% for comment in comment_list %}
            <!--div start -->
            <div class="allComment">
              <div class="commentPic">
			  
                <img src="{{comment.user.get_profile.mugshot}}" alt="" />
              </div>

              <div class="commentArea">
                <p class="commentTxt1">{{comment.comment}}</p>

                <div class="commentDate">
                  <p class="dateTxt">{{comment.user}} {{comment.submit_date}}</p>

                  <p class="reply"><a href="#">Reply</a></p>
                </div>
              </div>
            </div>
            <!--div end -->
            {% endfor %}
            <p class="leaveComment"><a href="comment.html?height=650&width=800" class="thickbox">Leave a Comment</a></p>
          </div>
        </div><!--right end -->

        <div class="spacer"></div>
      </div>

      <div class="seeMoreBot"></div>
    </div><!--bodymainContainer end -->
 {% endblock %}