{% extends "mybase.html" %}

{% block js %}
{% endblock %}


{% block mess_list %}
	<span class="recentpost">Recent Posts</span><br>
    <br>

    <div id="recentpostswrapper" class="justify">
      {% for message in messages.all %}

      <div class="{% cycle 'post_1' 'post_2' %}">
        <div class="pic_user">
          {% for photo in message.photos.all %}
		  <img src="{{ photo.thumbnail_image.url }}">
		  {% endfor %}
        </div>

        <div class="message_wrapper">
          <div class="message_seemore">
            <a href="#" class="message_seemore">see more</a>
          </div>

          <div id="message_detail">
            <div class="message_user">
              {{ message.spotuser_set.get.user.username }}
            </div>

            <div class="message_date">
              Posted at {{ message.date_added }}
            </div>
          </div><br clear="all">

          <div class="message_message">
            {{message.text}}
          </div>
        </div>
      </div>
      {% endfor %}
      <div id="moreposts_wrapper">
        <a href="#" class="more">See more posts</a>
      </div>
    </div>
{% endblock %}

{% block profile %}
        <div id="mypage_contentwrapper">
          <div id="mypage_profile">
            <div id="mypage_profilepic">
              {% if group.profile_pic %} <img src='/site_media/{{group.profile_pic}}' alt='' width="145" height="132">
			  {% else %} <img src='/site_media/friend_nopic.jpg' alt='' width="170" height="170">
			  {% endif %}

              {% ifequal group.admin  user %}
			  <div id="mypage_profileedit">
                <a href="{% url base_group %}?group={{group.pk}}" class="editprofile">Edit Profile</a>
              </div>
              {% endifequal %}
            </div>

            <div id="mypage_details">
              Profile Details
            </div>

            <div id="mypage_detailsC">
              <div class="detail">
                Group Name
              </div>

              <div class="descriptionp">
                {{ group.name }}
              </div>

              <div class="detail">
                Description:
              </div>

              <div class="descriptionp">
                {{ group.description}}
              </div>

              <div class="detail">
                Web Site:
              </div>

              <div class="descriptionp">
                {{group.web_site}}
              </div>
            </div>
          </div>

          <div id="mypage_friends">
            Members
            {% for member in group.members.all %}
            <div class="mypage_myfriendsC">
              <div class="mypage_myfriendsP">
                {% if member.spotuser_set.get.mugshot %} <img src="{{friend.spotuser_set.get.mugshot}" width="145" height="132">
			    {% else %} <img src="/site_media/friend_nopic.jpg" width="145" height="132">
			    {% endif %}
  
              <div class="mypage_myfriendsN">
				<a href="{% url friends_show %}?friend={{friend.pk}}" class="friend"  name = "">
				{% if member.spotuser_set.get.is_temporary %}
				New User
				{% else %}
				{{ member.username }}
				{% endif %}
				</a>
              </div>
            </div>
            {% endfor %}
          </div><br clear="all" />
        </div>
{% endblock %}